<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">Prijavi se!</h1>
      <div class="example-container">
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-container">
            <span matPrefix><mat-icon>account_circle</mat-icon></span>
            <input matInput formControlName="username" placeholder="Username" required>
            <mat-error *ngIf="f.username.invalid">
              <mat-error *ngIf="f.username.touched && f.username.errors.required">
                {{ validation.required}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-container">
            <span matPrefix><mat-icon>lock</mat-icon></span>
            <input type="password" matInput formControlName="password" placeholder="Lozinka" required>
            <mat-error *ngIf="f.password.invalid">
              <mat-error *ngIf="f.password.touched && f.password.errors.required">
                {{ validation.required}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <button mat-button color="primary"><span style="font-weight: bold;">PRIJAVI ME</span></button>
        </form>

        <div *ngIf="isLoginError" class="mat-error"  role="alert">
          <span>Wrong username or password</span>
        </div>
      </div>

    </div>
  </div>
</div>
