<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ngx-datatable class="material"
        #ordersTable
        [rows]="rows"
        [columnMode]="'flex'"
        [headerHeight]="40" [rowHeight]="'auto'" [footerHeight]="40"
        [messages]="messages">
        <ngx-datatable-column prop="name" name="Vrsta" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="pizzaCategory" name="Veličina" [sortable]="false"
          [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Cijena" [sortable]="false" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row">
            <p *ngIf="row.pizzaCategory == 'NORMAL'">40 KN</p>
            <p *ngIf="row.pizzaCategory == 'EXCLUSIVE'">70 KN</p>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <button mat-raised-button color="accent" (click)="addToBucket(row)">Dodaj u košaricu</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="col-md-4" *ngIf="order.length !== 0">
      <h4>Vaša narudžba</h4>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Vrsta pizze</th>
            <th>Veličina</th>
            <th>Iznos</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let pizza of order; let i = index">
          <td>
            {{pizza.name}}
          </td>
          <td>
            {{pizza.pizzaCategory}}
          </td>
          <td *ngIf="pizza.pizzaCategory == 'NORMAL'">40 KN
          </td>
          <td *ngIf="pizza.pizzaCategory == 'EXCLUSIVE'">70 KN
          </td>
          <td>
            <button mat-raised-button color="primary" (click)="deleteFromBucket(i)">Obriši</button>
          </td>
        </tbody>
        <tfoot>
            <tr><td [colSpan]="4">Trenutni bodovi: {{user.points}}</td></tr>
            <tr><td [colSpan]="4">Iskoristi 50 bonus bodova za 20% popusta</td></tr>
            <tr><td [colSpan]="4"><mat-checkbox (change)="OnChange($event)"
              (indeterminateChange)="OnIndeterminateChange($event)"
              [(checked)]="IsChecked"
              [(indeterminate)]="IsIndeterminate"
              [labelPosition]="LabelAlign"
              [disabled]="user.points < 50">Iskoristi popust</mat-checkbox></td></tr>
          <tr>
            <td>Ukupno:</td>
            <td>{{totalAmount}} KN</td>
            <td>
              <button mat-raised-button color="primary" (click)="clearBucket()">Obriši sve</button>
            </td>
            <td>
              <button mat-raised-button color="accent" (click)="makeOrder()">NARUČI</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
