<div class="container">
  <div class="row">
    <div class="col-12">
      <ngx-datatable class="material"
                     #ordersTable
                     [rows]="rows"
                     [columnMode]="'flex'"
                     [headerHeight]="40" [rowHeight]="'auto'" [footerHeight]="40"
                     [messages]="messages">
        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="uuid" name="ID narudžbe" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column prop="creationTime" name="Vrijeme narudžbe" [sortable]="false" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: dateTimeFormat}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="price" name="Ukupan iznos" [sortable]="false" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}} KN
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="discount" name="Popust" [sortable]="false" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value; else noDiscount">&#10004;</span>
          </ng-template>
          <ng-template #noDiscount>
            <span>&#10008;</span>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Vrsta pizze</th>
                  <th>Veličina</th>
                  <th>Iznos</th>
                </tr>
                </thead>
                <tbody *ngFor="let pizza of row.orderItems">
                <td>
                  {{pizza.pizzaName}}
                </td>
                <td>
                  {{pizza.pizzaCategory}}
                </td>
                <td *ngIf="pizza.pizzaCategory == 'NORMAL'">40 KN
                </td>
                <td *ngIf="pizza.pizzaCategory == 'EXCLUSIVE'">70 KN
                </td>
                </tbody>
              </table>

            </div>
          </ng-template>
        </ngx-datatable-row-detail>
      </ngx-datatable>
    </div>
  </div>
</div>
