<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Rest in Pepperoni</h1>
      <br>
      <br>
      <h3>Restoran fine talijanske kuhinje</h3>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
