$custom-theme-primary: mat-palette($mat-red, 700,300,900);
$custom-theme-accent: mat-palette($mat-yellow, 400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

